

body{
  
    background-color: rgb(79, 207, 165);
}
#titulo{
    margin-top: 0;
    width: 500px;
}

h3{
    text-align: center;
    font-size: 30px
}
.hogar{
    margin-top: 50px;
    display: flex;

    align-items: center;
    flex-flow: row wrap;
}

.hogar p {

   font-size: 20px;
   text-align: center;
   flex: 1; 
    max-width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(58, 194, 194);
    padding-left: 50px;
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 50px;
}


.hogar img {
    flex: 1;
    max-width: 50%;
    padding-left: 100px;
    padding-right: 50px;

}

.silder-wrapper  .image-list{
    display: list-item;
    gap: 18px;
}

.silder-wrapper  .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}